<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ed">
  <select id="edlist" resultType="empdept.EmpDTO">
  
    select employee_id, department_id, first_name || ' ' || last_name name,
       		 phone_number phone, email
	from employees
  </select>
</mapper>