<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!--여러번의 엔터, 여러번의 스페이스바라도 무조건 한칸으로 인식 -->
	그냥 입력                합니다. 
	<!--
	<시작태그>
		<자손시작태그>
		</자손종료태그>
	</종료태그> ☞ 자손을 담을수 있는 태그
	
	<p>
		<br />
	</p> ☞ paragraph문단, 긴문장에 사용
	
	<태그명 /> ☞ 자손을 담을 수 없는 태그(단독태그)
	-->
	
	또한번 그냥 입력합니다.
	<p>그냥 입력합니다. <br /> 또한번 그냥 입력합니다.</p>
	<hr />
	<p>단락&nbsp;&nbsp;&nbsp;<!--공백-->
	태그</p>
	<p><단락태그></p>
	<p>&lt;단락태그&gt;</p>
	<p>&단락태그&</p>
	<p>&amp;단락태그&amp;</p>
	<p>"단락태그"</p>
	<p>&quot;단락태그&quot;</p>

<!-- 	<태그명 속성="속성값" 속성="속성값"></태그명> -->
	<a href="#">네이버</a><!--빈링크-->
	<a href="http://www.daum.net" title="다음으로 이동">다음</a>
	<a href="http://www.google.com" target="_blank" title="구글로 이동">구글</a><!--새창-->
	<a href="http://www.nate.com" target="_self" title="네이트로 이동">네이트</a><!--기본값, 자기자신-->
	<a href="../html01/hello.html" target="_blank" title="hello.html로 이동">hello.html로 이동</a>
</body>
</html>














