<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hr">
<select id="list" resultType="hr.EmployeeVO">

select e.employee_id, e.first_name || ' ' || last_name name, d.department_name, j.job_title, e.hire_date
from departments d RIGHT OUTER JOIN employees e
	ON d.DEPARTMENT_ID = e.DEPARTMENT_ID
		LEFT OUTER JOIN jobs j
	On e.job_id = j.JOB_ID
	order by 1
</select>
</mapper>